html,body{
    margin:0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

/**Navbar is placed in a fixed position
 so that it remains in the same place when
 scrolling down*/
.navBar{
    width: 100%;
    height: 80px;
    background-color: #09194F;
    position: fixed;
}

#navbar-logo-container{
    display: inline;
}

#navbar-logo{
    height: 60px;
    margin: 10px 0 10px 0;
}

/**Gets rid of the bullet points of the <ul>
    A <ul> tag contains margin properties all 
    around by default. Remove them.
*/
#hpURLList{
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin:0px;

    line-height: 50px;
}


/**Floats the log-ing and sign up button to the
right of the nav-bar*/
.nvUpperRightOptions{
    float:right;
    margin: 10px 0px 10px 10px;
    
}

/**Adding background img to cover entire background
background position: (x)center (y)center keeps the 
background image centered as the windows is made
smaller*/
#hp-intro-container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/workdesk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/**Set the height of the flex-container to be the
size of the parent div. Give it a dark background
and set its opacity. 

justify-content centers the flex-items horizontally.
align-items centers the flex-items vertically*/
#login-signin-container{
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#vv-logo{
    height: 150px;
    width: 300px;
    background-image: url(../images/virtual-version-log.png);
    background-repeat: no-repeat;

    /**width followed by height*/
    background-size: 300px 150px;
    margin: 10px 0 10px 0;
}

#vv-logo-catch-phrase{
    font-size: 3vh;
    font-family: 'Source Code Pro', monospace;
    margin: 0 0 10px 0;
    color:#F9CE00;
}

.hp-buttons{
    padding: 10px;
    width: 80px;
    color: white;
    background-color: #00818A;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
    border-color: #09194F;
}

.hp-buttons:hover{
    background-color: #FDFDEB;
    color: black;
    cursor: pointer;
    border-color: #F9CE00;
    color: #09194F;
}

#product-link{
    margin: auto;
    position: relative;
    top: -45px;

    display: flex;
    justify-content: center;
}

#product-link button{
    border-color: none;
    background-color:#FDFDEB;
}

#product-link button:hover{
    background-color: #F9CE00;
    border-color: #00818A;
    cursor: pointer;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i{
    border:solid #FDFDEB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding:10px;
}

/**2nd half of page -------------------*/
#show-off-product-container{
    height:100vh;
    width: 100%;
}

#sell-product-phrases-container{
    height: 60vh;
    width: 100%;
    background-color: #FDFDEB;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#phrases{
    flex: 0 1 300px;
    font-family: 'Comic Neue', cursive;
    font-size: 2vh;
}

#phrases > p{
    font-family: 'Montserrat', sans-serif;
}

#mobile-devices-image{
    flex: 0 2 500px;
    height: 300px;
}

#iphone-image{

    position: relative;
    left: -70px;
    /* border:1px solid green; */
    padding:0px;
    margin:0px;
}

#slide-show{
    height: 40vh;
    width: 100%;

    background-image: url(../images/typing3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 46%;
}

